*.user
_ReSharper.*
*.suo
*.sln.cache
.idea
*/obj/*
*/bin/*
!/lib/*/bin/*
PartCover.Coverage.xml
PartCover.Coverage-translated.xml
CoverageReport.html
Reports/*
stage/*
install/*
Engage-*.zip
Engage-*.exe
*/*/user.config
*~
production.js


.DS_Store
