@{
    ViewBag.Title = "Engagement Graph";
}

<h2>Using graph database technology for member and donor engagement</h2>
<ul>
	<li><a href="@Url.Action("Path")">The Path to Financial Development</a></li>
	<li><a href="@Url.Action("KnownPeople", new { startNodeId = 15, endNodeId =9})">The Path to Financial Development</a></li>
</ul>