@{
    ViewBag.Title = "Engagement Graph";
}

<h2>Using graph database technology for member and donor engagement</h2>
<ul>
	<li><a href="@Url.Action("KnownPeople", new { startNodeId = 15, endNodeId =9})">The Path to Financial Development</a></li>
	<li><a href="@Url.Action("FriendsOfFriends", new { startNodeId = 2, startLevel=1, endLevel = 100})">Will you be my friend?</a></li>
	<li><a href="@Url.Action("Registrations", new { startNodeId = 15})">Who else is registered for the same programs as me?</a></li>
</ul>