@model Social_GraphWeb.Controllers.PathViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Path</title>
	</head>
	<body>
		<div>
			<p>There are no people between @Model.Me.Data.FirstName and @Model.Target.Data.FirstName</p> 
		</div>
	</body>
</html>