@model Social_GraphWeb.Controllers.PathViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Path</title>
	</head>
	<body>
		<div>
			    <p>There are @Model.Path.Nodes.Count() people between you and big money:</p> 
				<ul>
				@{
					var count = 0;
					foreach (var relationship in Model.Path.Relationships)
					{
						var startNode = Model.Path.Nodes.First(n => n.Reference == relationship.StartNodeReference);
						var endNode = Model.Path.Nodes.First(n => n.Reference == relationship.EndNodeReference);

						var startName = Model.NodeName(startNode);
						var endName = Model.NodeName(endNode);
						
						count++;
						<li>
							@startName @relationship.TypeKey @endName
							@*@((endNode.Reference == Model.Target.Reference || startNode.Reference == Model.Target.Reference) ? "(big money!)" : "")*@
						</li>
					}
				}
				</ul>
		</div>
	</body>
</html>