@model Social_GraphWeb.Controllers.PathViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Path</title>
	</head>
	<body>
		<div>
			    <p>There are @Model.Path.Nodes.Count() people between you:</p> 
				<ul>
				@foreach (var node in Model.Path.Nodes)
				{
					<li>
						@node.Data.FirstName @(node.Reference.Id==Model.MyId? " (that's you!)": "")
					</li>
				}
				</ul>
		</div>
	</body>
</html>