@model Social_GraphWeb.Controllers.PathViewModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Path</title>
	</head>
	<body>
		<div>
			    <p>There are @Model.Path.Nodes.Count() people between you and big money:</p> 
				<ul>
				@{
					var count = 0;
					foreach (var node in Model.Path.Nodes)
					{
						count++;
						<li>
							@node.Data.FirstName @(node.Reference.Id==Model.MyId? " (that's you!)": "")
							@(Model.Path.Nodes.Count() == count ? "(big money!)" : "")
						</li>
					}
				}
				</ul>
		</div>
	</body>
</html>